# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://xxxxxxxxxxxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"

# Next Auth Secret (isi dengan random string panjang, generate: openssl rand -base64 32)
AUTH_SECRET="your-random-secret"
